@model SocietyManagementSystem.Models.Notice

@{
    ViewData["Title"] = "EditNotice";
}

<style>

    .bg-image {
        position: absolute;
        width: 35%;
        height: 50%;
        margin-right: 30px;
        margin-left: 600px;
        margin-top: 10px;
    }

    .bg-image1 {
        width: 100%;
        height: 100%;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .reg_label {
        position: absolute;
        top: 80px;
        bottom: 0;
        margin-left: 30px;
        margin-right: 0;
        color: snow;
    }

    div {
        width: 200%;
    }
    a{
        position:absolute;
        margin-top:340px;
        margin-left:70px;
        color:snow;
    }

    input[type=text], input[type=password], input[type=email], input[type=number], input[type=date] {
        border-radius: 25px;
    }

    label {
        color: snow;
        font-size: 18px;
        font-weight: 500;
    }

    h1 {
        text-shadow: 2px 2px 5px;
    }

    form {
        position: absolute;
        margin-top: 60px;
        margin-bottom: 0;
    }
</style>
<body>
    <img src="~/images/loginhd.jpg" class="bg-image1" />
    <h1 class="reg_label">Edit Notice</h1>

    <h4>Notice</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Notice" asp-action="EditNotice">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="notice_subject" class="control-label"></label>
                    <input asp-for="notice_subject" class="form-control" />
                    <span asp-validation-for="notice_subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="notice_detail" class="control-label"></label>
                    <textarea asp-for="notice_detail" class="form-control" rows="5" cols="5" required></textarea>
                    <span asp-validation-for="notice_detail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="ManageNotice">Back to List</a>
    </div>
</body>
